.footer{
	background-color: #034790;
	padding: 30px 0;
	margin: 30px 0 0 0;
}

.footer-hotel{
	display: block;
	text-align: center;
	color: #d3ad6e;
	font-size: 19px;
	font-weight: 700;
	margin: 10px 0 20px 0;
}

.footer-end{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.footer-social{
	display: block;
	text-align: center;
	margin: 0 0 20px 0;
}

.footer-social a{
	color: #d3ad6e;
	font-size: 40px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;		
}

.footer-social a:hover{
	color: #fff;
}

.footer-rede{
	margin: 0 15px 0 0;
}

.footer-image{
	margin: 0 0 30px 0;
	display: block;
}

.footer-image img{
	width: 60%;
}

.footer-copy{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	display: block;
	margin: 0 0 30px 0;
}

.news-titu{
	color: #d3ad6e;
	font-size: 20px;
	font-weight: 700;
	display: block;
	margin: 10px 0 30px 0;
}

.btn-news{
	background-color: #d3ad6e;
	padding: 10px 15px;
	display: block;
	margin: auto;
	color: #231f20;
	border: 0;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;		
}

.btn-news:hover{
	background: #e5ac4c;
}







/*RESPONSIVO 650*********************************************************************************/
@media(min-width:650px){
.footer-image img{
	width: auto;
}

}



/*RESPONSIVO 720*********************************************************************************/
@media(min-width:720px){
.footer-image img{
	width: auto;
}

}






/*RESPONSIVO 960*********************************************************************************/
@media(min-width:960px){


.footer{
	background-color: #034790;
	padding: 60px 0;
	margin: 50px 0 0 0;
}

.footer-hotel{
	display: block;
	text-align: left;
	color: #d3ad6e;
	font-size: 23px;
	font-weight: 700;
	margin: 10px 0 20px 0;
}

.footer-end{
	display: block;
	text-align: left;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.footer-social{
	display: block;
	text-align: left;
}

.footer-social a{
	color: #d3ad6e;
	font-size: 40px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;		
}

.footer-social a:hover{
	color: #fff;
}

.footer-rede{
	margin: 0 15px 0 0;
}

.footer-image{
	margin: 0 0 30px 0;
	display: block;
}

.footer-image img{
	width: 60%;
}

.footer-copy{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	display: block;
}

.news-titu{
	color: #d3ad6e;
	font-size: 23px;
	font-weight: 700;
	text-align: left;
	display: block;
	margin: 10px 0 30px 0;
}

.btn-news{
	background-color: #d3ad6e;
	padding: 10px 15px;
	display: block;
	float: right;
	color: #231f20;
	border: 0;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;		
}

.btn-news:hover{
	background: #e5ac4c;
}



}