.title-sigle{
	font-size: 40px;
	color: #d3ad6e;
	text-transform: uppercase;
	font-weight: 300;
	margin: 30px 0;
}

.single p{
	color: #555;
	font-size: 16px;
	margin: 10px 0 30px 0;
}

.suites{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;	
}

.suites img{
	width: 250px;
	border: 1px solid #d3ad6e;
}

.suites a{
	margin: 0 0 30px 0;
}







/*HOVER NAS IMAGENS*/

.watch {
  display: inline-block;
  height: 168px;
  position: relative;
  width: 250px;  
}

.watch:hover::after {
  visibility: visible;
}

.watch img {
  width: 100%;
}

.watch::after {
  background: url(../images/plus.png) no-repeat, rgba(0, 0, 0, .3);
  background-position: 52% 50%;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}















